<div class="pt-75 general-title bg-color">
    <h2>Danh mục dự án</h2>
    <div class="title-devider"></div>
</div>
<div class="site-wrapper">

    <!-- Projects -->
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">

            <!-- Project Item (image, title, city, date and description of project)-->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/du-an/thiet-ke-thi-cong-noi-that-biet-thu">
                        <div class="pic-tintuc"
                            style="width:100%;height: 200px;background: url('/media/product_cat/15881322184787.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="NỘI THẤT BIỆT THỰ">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/du-an/thiet-ke-thi-cong-noi-that-biet-thu">
                                <h3>NỘI THẤT BIỆT THỰ</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 29-04-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/du-an/thiet-ke-noi-that-cong-trinh-nha-o-dan-dung">
                        <div class="pic-tintuc"
                            style="width:100%;height: 200px;background: url('/media/product_cat/15880710302129.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="NỘI THẤT CÔNG TRÌNH NHÀ CHUNG CƯ, NHÀ PHỐ">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/du-an/thiet-ke-noi-that-cong-trinh-nha-o-dan-dung">
                                <h3>NỘI THẤT CÔNG TRÌNH NHÀ CHUNG CƯ, NHÀ PHỐ</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 28-04-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/du-an/thiet-ke-thi-cong-noi-that-cong-trinh-cua-hang-trung-bay">
                        <div class="pic-tintuc"
                            style="width:100%;height: 200px;background: url('/media/product_cat/15880689526871.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="NỘI THẤT CÔNG TRÌNH CỬA HÀNG TRƯNG BÀY">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/du-an/thiet-ke-thi-cong-noi-that-cong-trinh-cua-hang-trung-bay">
                                <h3>NỘI THẤT CÔNG TRÌNH CỬA HÀNG TRƯNG BÀY</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 28-04-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/du-an/thiet-ke-noi-that-cong-trinh-thuong-mai">
                        <div class="pic-tintuc"
                            style="width:100%;height: 200px;background: url('/media/product_cat/15880664175057.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="NỘI THẤT CÔNG TRÌNH THƯƠNG MẠI">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/du-an/thiet-ke-noi-that-cong-trinh-thuong-mai">
                                <h3>NỘI THẤT CÔNG TRÌNH THƯƠNG MẠI</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 28-04-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/du-an/thiet-ke-khong-gian-noi-that">
                        <div class="pic-tintuc"
                            style="width:100%;height: 200px;background: url('/media/product_cat/15880660624479.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="KHÔNG GIAN NỘI THẤT">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/du-an/thiet-ke-khong-gian-noi-that">
                                <h3>KHÔNG GIAN NỘI THẤT</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 28-04-2020</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/du-an/thiet-ke-kien-truc">
                        <div class="pic-tintuc"
                            style="width:100%;height: 200px;background: url('/media/product_cat/15880657498678.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="THIẾT KẾ KIẾN TRÚC">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/du-an/thiet-ke-kien-truc">
                                <h3>THIẾT KẾ KIẾN TRÚC</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 13-10-2018</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail blog-inner">
                    <!-- Image -->
                    <a href="/du-an/thiet-ke-thi-cong-noi-that-van-phong">
                        <div class="pic-tintuc"
                            style="width:100%;height: 200px;background: url('/media/product_cat/15880698991494.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                            alt="NỘI THẤT CÔNG TRÌNH VĂN PHÒNG, TRƯỜNG HỌC">
                        </div>
                    </a>
                    <div class="caption">
                        <!-- Title -->
                        <div class="blog-inner-title">
                            <a href="/du-an/thiet-ke-thi-cong-noi-that-van-phong">
                                <h3>NỘI THẤT CÔNG TRÌNH VĂN PHÒNG, TRƯỜNG HỌC</h3>
                            </a>
                        </div>
                        <!-- Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar"></i><a href="#"> 10-10-2018</a></span>
                        </div>
                        <!-- Description -->
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /row -->
</div><!-- /container -->